<% if user_signed_in? %>

  <div class="container">
    <div class="row">
      <% index = 0 %>
      <% @log_climbs.where(user_id: current_user.id).each do |log_climb| %>
        <% if log_climb.main_image.attached? && index < 3 %>
          <% index += 1 %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <%= image_tag log_climb.main_image, class: "card-img-top" , alt: "user upload image"%>
              <div class="card-body">
                <h2 class="card-title"><%= log_climb.date %></h2>
                <p class="card-text"><%= log_climb.location %> - <%= log_climb.climbing_type %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
