<!DOCTYPE html>
<html>
<head><% if user_signed_in? %>
<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-light mb-4">Your Climbing Map</h1>
            <p class="lead">Here you should be able to see everywhere you've been climbing!</p>
            <p>Click on the markers to see more details about the climbing session.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                Marker missing or it isn't where you think it should be? Add some more details of the climbing location in your <a href = 'http://localhost:3000/log_outdoor_climbs'>  log</a>.
            </div>
        
    
   
    <meta charset="utf-8">
   
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <style>
    body { margin: 10; padding: 70; }
    #map { position: absolute; top: 10; bottom: 10; width: 75%; height: 600px}
    </style>
    </head>
    <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

    <style>
        #geocoder-container > div {
            min-width: 50%;
            margin-left: 25%;
        }
    </style>
    <div id="map"></div>





    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWZzbWl0aDEyMyIsImEiOiJjbG9pdTIyaGsxcHd3MnNydzltZnl2Y2Q2In0.uNEZOI46PYjl40gzZ0U2vw';
        const map = new mapboxgl.Map({
            container: 'map',
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/outdoors-v12',
            center: [-1.6253621, 53.2684064],
            zoom: 0
        });

        
        
        const logClimbsCoordinates = <%= raw @log_climbs.where(user_id: current_user.id).to_json(only: [:longitude, :latitude]) %>;

    // Log the coordinates to the console for debugging
    

        // Filter out null values in case when you log a climb, the geocoder doesn't find coordinates
        const filteredCoordinates = logClimbsCoordinates.filter(coords => coords.longitude !== null && coords.latitude !== null);
            
        // Add markers to the map
        filteredCoordinates.forEach(coords => {
    const marker = new mapboxgl.Marker()
        .setLngLat([coords.longitude, coords.latitude])
        .addTo(map);


        marker.getElement().addEventListener('dblclick', () => {
        map.flyTo({
            center: [coords.longitude, coords.latitude],
            zoom: 100, // Adjust the zoom level as needed
            essential: true // This option ensures that the flyTo animation is not interrupted by user events
        });
        })

    const climbDetails = <%= raw @log_climbs.where(user_id: current_user.id).to_json(only: [:longitude, :latitude, :location, :date, :climbing_type]) %>;

    const matchingClimb = climbDetails.find(climbDetails => climbDetails.longitude === coords.longitude && climbDetails.latitude === coords.latitude);

    console.log('filteredCoordinates:', filteredCoordinates);
    console.log('climb details:', climbDetails);
    console.log('matchingClimb:', matchingClimb);

    if (matchingClimb) {
        const popup = new mapboxgl.Popup()
            .setHTML(
                `<p>${matchingClimb.date}</p>
                 <p>${matchingClimb.location}</p>
                 <p>${matchingClimb.climbing_type}</p>
                 `
            );

        // Attach the popup to the marker
        marker.setPopup(popup);
    }
    
});


        const bounds = new mapboxgl.LngLatBounds();
        filteredCoordinates.forEach(coords => {
            bounds.extend([coords.longitude, coords.latitude]);
        });

        // Set map center and zoom level to fit the bounds
        map.fitBounds(bounds, { padding: 50 });

        map.addControl(new mapboxgl.NavigationControl());

    </script>
    <%else%>
        <p class="lead text-muted">Please sign in to see previous logged climbs.<br>
        <%= link_to "Login", new_user_session_path, class: "btn btn-dark c-2" %></p>
    <% end %></div>
    </div>
</div>
    </body>
    </section>
    </html>