
<% if user_signed_in? %>
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Welcome, <%= current_user.email %></h1></h1>
          <p class="lead text-muted">Start logging your climbing sessions here and track your progress.</p>
          <p>
            <a href="log_outdoor_climbs/new" class="btn btn-indigo my-2">Log your Outdoor Climbing Session</a>
            <a href="log_outdoor_climbs" class="btn btn-indigo my-2">See your previous climbs</a>
          </p>
        </div>
      </div>
    </section>
  </main>


<% else %>
  <!-- inside app/views/welcome/index.html.erb -->  
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Menu</h5>
      <span class="text-muted">Explore the menu.</span>
    </div>
  </div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Welcome </h1>
          <p class="lead text-muted">Sign in to start logging your climbing sessions and track your progress.</p>
          <a href="users/sign_in" class="btn btn-primary my-2">Log in</a>
          <a href="users/sign_up" class="btn btn-primary my-2">Sign Up</a>
          <p>
          

<% end %>

        </div>
      </div>
    </section>