<h2>Previous Outdoor Climbs</h2>
<% if @individual_outdoor_climbs.present? %>
  <ul>
    <% @individual_outdoor_climbs.each do |individual_outdoor_climb| %>
      <li>
        <%= individual_outdoor_climb.climb_name %> - <%= individual_outdoor_climb.grade %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No previous climbs logged.</p>
<% end %>